@media screen and (width < 900px) {

    .product-mobile-bar{
        width: 80%;
    }

    .category-title{
        text-align: center;
    }

    .home-products-title{
        width: 100%;
        text-align: center;
    }

    .home-products-items-container{
        display: block;
    }
    
    .home-products-item{
        width: 50%;
        margin: auto;
        display: block; 
        text-align: center;
    }

    .item-background{

        height: 25vw;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F7F7F7;
    }

    .item-name{
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }
}

@media screen and (width < 750px) {
    .product-images{
        width: 80%;
    }
}

@media screen and (width >= 900px) and (width < 1024px){
    .container{
        margin: auto;
    }

    .product-mobile-bar{
        width: 95%;
    }

    h1{
        width: 100%;
        text-align: center;
        margin: 50px 0;
    }

    .home-products-container{
        width: 90%;
        margin: 0 auto 50px auto;
        justify-content: center;
    }

    .home-products-title{
        width: 100%;
        text-align: center;
    }

    .home-products-items-container{
        width: 100%;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
    }

    .home-products-item{
        width: 100%;
        height: 200px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin: 0 auto;
    } 

    .item-background{
        height: 33vh;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F7F7F7;
    }

    .product-images{
        width: 150px;
    }


    .item-name{
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }
}

@media screen and (width >= 1024px){

    .container{
        margin: auto;
    }

    .product-mobile-bar{
        width: 95%;
    }

    h1{
        width: 100%;
        text-align: center;
        margin: 50px 0;
    }

    .home-products-container{
        width: 90%;
        margin: 0 auto 50px auto;
        justify-content: center;
    }

    .home-products-title{
        width: 100%;
        text-align: center;
    }

    .home-products-items-container{
        width: 100%;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
    }

    .home-products-item{
        width: 100%;
        height: 200px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    } 

    .item-background{
        height: 200px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F7F7F7;
    }

    .product-images{
        width: 250px;
    }


    .item-name{
        font-weight: 600;
        text-transform: uppercase;
    }

}

@media screen and (width>= 1300px) {
    .home-products-items-container{
        margin-bottom: 100px;
    }

    .home-products-title{
        font-size: 30px;
    }

    .item-name{
        font-size: 20px;
    }
}

@media screen and (width >= 1600px) {
    .home-products-items-container{
        margin-bottom: 150px;
    }

    .home-products-title{
        font-size: 32px;
    }

    .item-name{
        font-size: 22px;
    }
}

@media screen and (width >= 1800px) {
    .home-products-items-container{
        margin-bottom: 175px;
    }

    .home-products-title{
        font-size: 34px;
    }

    .item-name{
        font-size: 24px;
    }
}

@media screen and (width >= 2000px) {
    .home-products-items-container{
        margin-bottom: 200px;
    }

    .home-products-title{
        font-size: 36px;
    }

    .item-name{
        font-size: 26px;
    }
}