body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

@media screen and (max-width: 1024px) {
    .navbar{
        height: 50px;
    }

    .navbar-container{
        width: 100%;
        height: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(#000, #333333, #6c6c6c, #d8d8d8);
        align-items: center;
    }

    .logitech-logo{
        position: relative;
        top: 3px;
        left: 3px;
        width: 75%;
    }

    .burger-menu{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-75%, 15%);
        font-size: 1.8rem;
        cursor: pointer;
        color: white;
    }

    .navbar-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70vh;
        position: absolute;
        top: 35px;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        background: #242222;
        padding: 0;
        align-items: center;
    }

    .navbar-list-active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        display: none;
    }

    .nav-page{
        width: 100%;
        height: 80px;
        text-decoration: none;
        color: white;
        padding: 0;
        display: flex;
        align-items: center;
        font-size: 20px;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0.467);
    }

    .navbar-inscription{
        display: none;
    }
}

@media screen and (min-width: 1024px){

    .burger-menu{
        display: none;
    }

    .navBar{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 150px;
    }

    .navbar-container{
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(#000, #333333, #6c6c6c, #d8d8d8);
        align-items: center;
    }

    .navbar-logo{
        width: 33%;
    }

    .logitech-logo{
        text-align: left;
    }

    .navbar-inscription{
        width: 33%;
        text-align: right;
        margin-right: 30px;
    }

    .logo{
        margin: 15px;
        padding: 0;
        width: 50px;
        height: 50px;
        align-items: center;
        z-index: -1;
    }

    .logitech-logo{
        margin: 15px;
        padding: 0;
        width: 50px;
        align-items: center;
    }

    .navbar-items{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .navbar-list-active{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;  
        justify-content: center;
        z-index: 100;
    }

    .nav-page{
        margin: 0 10px;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
    }

    .login-page{
        text-align: end;
        justify-content: end;
    }

    .login-page-mobile{
        display: none;
    }
}

@media screen and (min-width: 1440px){
    .navbar-container{
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1600px){
    .nav-page{
        font-size: 34px;
    }

    .logitech-logo{
        width: 60px;
    }
}
